<% title 'Home' %>
<div ng-controller="homeCtrl" class="container">
  <h1>Check If Domain is Available</h1>
  <form action="." method="POST" ng-submit="check($event)">
    <div class="form-group">
      <label for="domain">Domain?</label>
      <input type="text" class="form-control" name="domain" id="domain" placeholder="Enter Domain To Check" value="<%= params['domain'] %>" ng-model="domain" required />
    </div>
    <div class="alert alert-success" ng-show="message">{{ message }}</div>
    <div class="alert alert-danger" ng-show="error">{{ error }}</div>
    <input type="submit" class="btn btn-primary" />
  </form>
</div>
